{# @controller IndexController:index #}
{# watchdogs \App\Document\Watchdog[] #}


{% extends 'root/layout.html.twig' %}

{% block pagecontent %}
    <h1>Nový hlídací pes</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}