{% extends 'base.html.twig' %}

{% block title %}Hamrbot{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ path('app_index_index') }}">Přehled psů</a></li>
        <li><a href="{{ path('app_index_newwatchdog') }}">Nový pes</a></li>
        <li><a href="{{ path('app_archive_history') }}">Archiv psů</a></li>
    </ul>

    {% block pagecontent %}{% endblock %}

{% endblock %}