{# @controller IndexController:index #}
{# watchdogs \App\Document\Watchdog[] #}
{# lastWatchdogProcessRecords \App\Document\WatchdogProcessingRecord[] #}


{% extends 'root/layout.html.twig' %}

{% block pagecontent %}
    <h1>Hlídací psi</h1>

    {% for label, messages in app.flashes(['success', 'notice', 'error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form
            action="{{ path('app_index_processwatchdogs') }}"
            method="post"
    >
        <input
                type="submit"
                value="Vypustit hlídací psy"
        />
    </form>

    {% for watchdog in watchdogs %}

        <div style="border: 1px solid;">
            <h3>{{ watchdog.timeSlot }}</h3>
            <p>{{ watchdog.email }}</p>
            <form
                    action="{{ path('app_index_deletewatchdog', {'id': watchdog.id}) }}"
                    method="post"
            >
                <input
                        type="submit"
                        value="Zrušit"
                />
            </form>
        </div>
    {% endfor %}

    <h2>Poslední kontroly obsazenosti</h2>
    {% for watchdogProcessRecord in lastWatchdogProcessRecords %}
        <ul>
            <li>{{ watchdogProcessRecord.timestamp|date("d.m.Y H:i:s") }}</li>
        </ul>
    {% endfor %}

{% endblock %}