{# @controller ArchiveController::history #}
{# watchdogs \App\Document\Watchdog[] #}


{% extends 'root/layout.html.twig' %}

{% block pagecontent %}
    <h1>Archiv psů</h1>

    {% for watchdog in watchdogs %}

        <div style="border: 1px solid;">
            <h3>{{ watchdog.timeSlot }}</h3>
            <p>{{ watchdog.email }}</p>
            <p>
                {% if watchdog.firedAt %}
                    Volné místo nalezeno {{ watchdog.firedAt|date("d.m.Y H:i:s") }}
                {% else %}
                    Volné místo nenalezeno, datum již uplynulo.
                {% endif %}
            </p>
        </div>
    {% endfor %}
{% endblock %}